<!DOCTYPE html>
<html>
<body>

<h1>All Questions</h1>
  
<form>
  {% for x in all_questions %}
    <label for = {{x.id}}>{{ x.text }}</label><br>
    <input type ="radio"  id ={{x.id}}>{{x.a}}</input><br>
    <input type ='radio' id = {{x.id}}>{{x.b}}</input><br>
    <input type = 'radio' id ={{x.id}}>{{x.c}}</input><br>
    <input type = 'radio' id = {{x.id}}>{{x.d}}</input><br>
    <p>{{x.correct}}</p>
    <input type = 'submit' value = 'Submit'></input><br>

  {% endfor %}
</form>

</body>
</html>